body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/984/892/original/banner-design-geometric-hexagon-colorful-overlapping-with-background-free-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
h5 {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main-container {
    max-width: 1200px;
    margin: auto;
    padding: 80px 0;
}
.custom-alert {
    background-color: green;
    color: white;
    margin: 30px 1.5em;
}
.custom-img {
    height: 300px; 
    width: 350px; 
    object-fit: cover; 
}
.slider-container {
    position: relative;
  }
  
  .slider-label {
    position: absolute;
    left: 0;
  }
  
  .slider-ticks {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .slider-tick {
    font-size: 12px;
    width: 20px;
    text-align: center;
  }