{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-container">
  <h1>Planspiel CEO</h1>
  <h3 class="mt-3">{{ conv_data.text }} {{ tasks }}</h3>
  <form id="myForm" method="post" action="{% url 'rate' page=page_number %}">
    {% csrf_token %}
    <div class="card m-4">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <h5 class="mt-3">{{ conv_data.points }}{{ points }}</h5>
              <div class="row justify-content-center">
                {% for item in task_data %}
                  <div class="col-md-4 mb-4 mt-3">
                    <div class="card">
                      <div class="card-header text-center">
                        <label class="label">Aufgabe {{ item.task }}</label>
                      </div>
                      <img class="card-img-top img-fluid custom-img" src="{% static item.path %}" alt="{{ item.task }}">
                      <div class="card-footer text-center">
                        <label class="label">Punkte: {{ item.points }}</label>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="row justify-content-center mt-3">
                <div class="text-center mt-3">
                  {{ conv_data.explanation }}
                </div>
                <div class="mt-5">
                  <label>{{ conv_data.Aufgabe_text }}</label><br>
                  <small>{{ conv_data.notice }}</small>
                  <div class="row justify-content-center mt-3">
                    <div class="col-md-11">
                      {% for item in task_arr %}
                      <div class="slider-container mt-3">
                        <label class="slider-label" for="Aufgabe{{ item }}">{{ conv_data.Aufgabe }} {{ item }}?</label><br>
                        <div class="slider-ticks">
                          <div class="slider-tick">--</div>
                          <div class="slider-tick">-</div>
                          <div class="slider-tick">+/-</div>
                          <div class="slider-tick">+</div>
                          <div class="slider-tick">++</div>
                        </div>
                        <input class="form-range" type="range" id="Aufgabe{{ item }}" name="Aufgabe{{ item }}" min="1" max="5" step="1" value="3" >
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                {% for key, value in conv_data.questions.items %}
                <div class="mt-5">
                  {% if key == 'Control' %}
                    <label>{{ value }}</label><br>
                    <small>{{ conv_data.notice }}</small>
                    <div class="row justify-content-center mt-3">
                      <div class="col-md-11">
                        <div class="slider-container mt-3">
                          <label class="slider-label" for="{{ key }}">Bitte wählen Sie das {{ check }} aus</label><br>
                          <div class="slider-ticks">
                            <div class="slider-tick">--</div>
                            <div class="slider-tick">-</div>
                            <div class="slider-tick">+/-</div>
                            <div class="slider-tick">+</div>
                            <div class="slider-tick">++</div>
                          </div>
                          <input class="form-range" type="range" id="{{ key }}" name="{{ key }}" min="1" max="5" step="1" value="3" >
                          <div id="error-message"></div>
                        </div>
                      </div>
                    </div>
                  {% else %}
                    <label>{{ value.1 }}</label><br>
                    <small>{{ conv_data.notice }}</small>
                    <div class="row justify-content-center mt-3">
                      <div class="col-md-11">
                        <div class="slider-container mt-3">
                          <label class="slider-label" for="{{ key }}">{{ value.2 }}</label><br>
                          <div class="slider-ticks">
                            <div class="slider-tick">--</div>
                            <div class="slider-tick">-</div>
                            <div class="slider-tick">+/-</div>
                            <div class="slider-tick">+</div>
                            <div class="slider-tick">++</div>
                          </div>
                          <input class="form-range" type="range" id="{{ key }}" name="{{ key }}" min="1" max="5" step="1" value="3" >
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
              <div class="row justify-content-center mt-5">
                <div class="col-md-1">
                  <button id="submit-btn" class="btn btn-success" type="submit">Weiter</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  const form = document.querySelector('#myForm');
  const input = document.querySelector('#Control');
  const errorMessage = document.querySelector('#error-message');
  const submitBtn = document.querySelector('#submit-btn');

  form.addEventListener('submit', event => {
    event.preventDefault(); 

    if (input.value !== '{{ check_num }}') {
      errorMessage.textContent = 'Fehler: Bitte wählen Sie das {{ check }} aus';
      return;
    }

    form.submit();
  });
</script>
{% endblock content %}